@import '~ant-design-vue/es/style/themes/default.less';
@import './tailwind.less';

html,
body,
#app,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 24px;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

.ant-layout {
  background: #F9F9F9;

  .ant-layout-header {
    height: 64px;

    .ant-pro-top-nav-header {
      height: 100%;
      box-shadow: none;

      .ant-pro-top-nav-header-main {
        height: 100%;

        .ant-pro-top-nav-header-left {
          flex: auto;
          padding-right: 40px;

          .ant-pro-top-nav-header-logo {
            width: auto;
            height: 100%;
          }          
        }

        .ant-pro-top-nav-header-menu {
          flex: auto !important;
          max-width: 600px !important;
          padding-right: 20px;

          .ant-menu {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    // 移动端
    .ant-pro-global-header {
      display: flex;

      .ant-pro-global-header-trigger {
        // margin-left: -24px;
      }

      .ant-pro-global-header-content {
        flex: auto;
      }      
    }
  }

  .ant-layout-content {
    display: flex;
    flex-direction: column;

    .ant-pro-basicLayout-children-content-wrap {
      flex: auto;
      display: flex;
      flex-direction: column;

      .ant-pro-grid-content {
        flex: auto;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .ant-layout-footer {
    display: none;
  }
}

// 修正 antd 样式对 tailwind 的影响
.anticon svg {
  display: block !important;
}

.ant-btn-icon-only > i {
  vertical-align: -2px !important;
}

.ant-btn {
  background-color: #fff;
}

.ant-btn-primary {
  background-color: #1890ff;
}

.ant-btn-danger {
  background-color: #ff4d4f;
}

.ant-upload-list-item-info {
  padding: 0 20px 0 4px;
}

.ant-btn-primary.success-btn {
  @apply bg-green-500 border-0 hover:bg-green-400 focus:bg-green-400;
}

// 浏览器自动填充时，取消代理背景色
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.65);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.moveR-enter-active{
  animation: moveR1 .5s ease-out;
}

.moveR-leave-active{
  animation: moveR2  ease-out;
}

@keyframes moveR1{
  from{
    transform: translateX(100%);
  }

  to{
    transform: translateX(0px);
  }
}

@keyframes moveR2{
  from{
    transform: translateX(0px);
  }

  to{
    transform: translateX(-100%);
  }
}

.link-style-form {
  .ant-form-item {
    .ant-form-item-control {
      @apply pb-1;
    }

    .ant-form-explain {
      @apply pl-5;
    }

    .ant-input {
      @apply h-11 mb-1 rounded-md text-base border-gray-400 pl-5;
    }

    textarea.ant-input {
      @apply h-auto;
    }

    .ant-select {
      @apply block mb-1;

      .ant-select-selection {
        @apply rounded-md text-base border-gray-400;
        min-height: 44px;
        padding-top: 2px;
        padding-bottom: 6px;
      }

      .ant-select-selection__rendered {
        @apply ml-5 mr-7;
      }

      .ant-select-selection--multiple .ant-select-arrow,
      .ant-select-selection--multiple .ant-select-selection__clear {
        @apply top-6;
      }
    }

    .ant-checkbox-group {
      @apply mb-1;
    }
  }

  .dragUploader {
    @apply w-full mb-2;
    display: block;
  
    .ant-upload-drag  {
      @apply bg-transparent border-none rounded-none;
  
      .ant-upload {
        @apply p-0;
      }
    }
  }

  .send-code-btn {
    @apply h-11 rounded-md text-base border-0;
  }

  .step-btn {
    @apply h-12 rounded-md text-base border-0;
  }

  .reset-btn {
    @apply h-12 rounded-md text-base;
  }
}

// vue-pdf-embed 样式
.pdf-box {
  .vue-pdf-embed {
    @apply flex flex-col gap-y-2;

    > div {
      @apply drop-shadow-xl;
    }
  }  
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

/* 滚动条滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.ant-drawer {
  z-index: 10000;
}

.el-loading-spinner .circular {
  display: inline;
}
